<!-- This is views/goToUserHabits.ejs -->
<body>
    <%=user.habits.size%> habit(s) to display as below :
    <ul>
        <% user.habits.forEach( (habit, name) => { %>
        <!-- <li><a href = "/user/<%= user.habits%>" > -->

        <li><a href="/habit/<%= user.userName %>/<%= name %>">

                <%= name %></a>
        </li>
        <% }); %>
    </ul>

    <form action="/addHabit/<%= user.userName %>" method="post">
        Habit: <input name="habitName">
        <p></p>
        Type: <input name="type">
        <p></p>
        <input type=submit value='Add habit'>
    </form>

    <p>
        <a href="/user/<%= user.userName%>">Back to view user's information</a>
    </p>

</body>

