<!-- This is views/viewUserInfo.ejs -->
<!-- You can see the data of a single user: their name, password, and a list of habits -->

<body>
<p>
    <form action='/updateUsername/<%= user.userName %>' method='post'>
        Username: <%= user.userName %> <br>
        Updated username:  <input name="newUsername">
        <input type=submit value='Update'>
    </form>
</p>

<p>
    <form action='/updatePassword/<%= user.userName %>' method='post' id>
        Password: <%= user.password %> <br>
        Updated password:  <input name='newPassword'>
        <input type=submit value='Update'>
    </form>
</p>

<form action = '/goToUserHabits/<%= user.userName %>' method = 'post' id>
    <input type = 'submit' value = "Go to User's Habits">
</form>

<form action='/deleteUser/<%= user.userName %>' method='post'>
    <input type='submit' value='Delete User'>
</form>
<br><a href='/view'>View all users</a>
</body>
