<!-- This is views/viewUserInfo.ejs -->
<!-- You can see the data of a single user: their name, password, and a list of habits -->

<body>
<p>
    <form action='/updateHabitName/<%= username %>/<%= habit.habitName %>' method='post'>
        Habit name: <%= habit.habitName %> <br>
        <!--Habit type: <%= habit.type %> <br> -->
        Update habit name:  <input name="newHabitname"> 
        <input type=submit value='Update'> <br>
        Habit type: <%= habit.type %> 
        <% if (habit.type == "numerical") { %>
            <br>
            Unit: <%= habit.unit %>
        <% } %>

    </form>
</p>

<form action = '/goToInfoPoints/<%= username %>/<%= habit.habitName %>' method = 'post' id>
    <input type = 'submit' value = "Go to Habit's Info Points">
</form>

Tags:
<ul>
<% habit.tags.forEach( (tag) => { %>
	<li>
	<%= tag %>
	</li>

<% }); %>
</ul>
<!--<ul>
<% habit.tags.forEach( (tag) => { %>
    <li> <%= habit.tags.tag %> 
    </li>
<% }); %>
</ul> -->

<form action='/addTag/<%= username %>/<%= habit.habitName %>' method='post'>
    New tag:  <input name="newTag">
    <input type=submit value='Update'>
</form>

<form action='/deleteHabit/<%= username %>/<%= habit.habitName %>' method='post'>
    <input type='submit' value='Delete Habit'>
</form>
<br><a href='/user/<%= username %>'>Go back to user</a>
</body>
